    @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application </h1>
    <p>Everyone has a sense of humor. If you don't laugh at jokes, you probably laugh at opinions!</p> 
</div>
